*{
  margin: 0;
  box-sizing: border-box;
}


body{
  background-color: #252425;
  height: 100%;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  gap: 20px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin: 16px;
  
}

.card {
  border: 1px solid white;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 4px 4px white;
  text-align: center;
  cursor: pointer;
  width:300px;
}

.card > h2 {
  font-size: 32px;
  border-left: 6px solid #A9D3E9;
  color: #A9D3E9;
  margin-bottom: 10px;
}

.card > img {
  border-radius: 10px;
  width: 95%;
}

.tag-pai {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
  max-width: 300px;
  justify-content: center;
}

.tag {
  background: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  padding: 4px 12px;
}